tooltip {
    border: 1px solid @base0C;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-lil_cloudy,
#custom-power_profile,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mpd,
#network,
#pulseaudio,
#sndio,
#submap,
#temperature,
#tray,
#upower,
#user,
#wireplumber,
button,
#mode,
#window {
    color: @base07;
    padding: 0px;
    margin: 5px 2px;
    min-width: 30px;
    box-shadow: none;
    border-style: none;
}

#idle_inhibitor {
    min-width: 20px;
}

#memory,
#cpu {
    min-width: 45px;
}

#submap,
#mode,
#custom-power_profile.performance,
#battery.warning,
#battery.critical,
#idle_inhibitor.activated,
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
    background-color: @base07;
    color: @base00;
    border-radius: 5px;
    /* margin: 5px 5px; */
}

#workspaces {
    color: @base07;
    border-style: none;
}

#workspaces button,
button:hover,
button {
    border-style: none;
    box-shadow: none;
    color: @base07;
}

#workspaces button.focused,
#workspaces button.active {
    border-radius: 5px;
    background-color: @base07;
    color: @base00;
    box-shadow: none;
    border-bottom-style: none;
}

#workspaces button.urgent {
    background-color: @base0B;
}